* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.app {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-weight: 900;
    margin-bottom: 1rem;
}

select {
    background: #f4f4f4;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    height: 34px;
 }   

 .form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

.form-input {
    background: #f4f4f4;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    height: 34px;
 }

 .button {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 button {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #111;
 }

 button:hover {
    background-color: rgb(109, 109, 109);
    color: #f4f4f4;
 }